.hero {
  color: white;
  object-fit: contain;
  height: 448px;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url('https://assets.nflxext.com/ffe/siteui/vlv3/6d74c600-1ba9-4a35-8dc7-594e870a87cb/88e7cf14-1f86-4cf6-84ea-b29e98a5f43e/US-en-20230710-popsignuptwoweeks-perspective_alpha_website_large.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
}

.hero-contents {
  padding: 20px;
  position: absolute;
  top: 120px;
  left: 30px;
}

.hero-contents h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero-buttons button {
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  padding: 0.5em 2em;
  margin-right: 10px;
  border: none;
  transition: all 0.2s ease;
}

.hero-buttons button:first-child {
  background-color: #e50914; /* Netflix red */
}

.hero-buttons button:last-child {
  background-color: rgba(109, 109, 110, 0.7);
}

.hero-buttons button:hover {
  opacity: 0.8;
}

.hero-description {
  max-width: 450px;
  font-size: 1rem;
  margin-top: 1rem;
  color: #ccc;
}

.hero-fade {
  height: 7.4rem;
  background-image: linear-gradient(180deg, transparent, rgba(37,37,37,0.61), #111);
  position: absolute;
  bottom: 0;
  width: 100%;
}
